In [105]:
import pandas as pd

In [106]:
df = pd.read_csv('Coursera_A1Ratings.csv')

In [107]:
df.head()

,User,260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,NaN,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5277,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,1577,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,4388,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,4.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,1202,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,NaN,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN

# Top 5

## Mean rating

In [108]:
df.drop('User', axis=1).mean().sort_values(ascending=False)[:5]

318: Shawshank Redemption, The (1994)             3.600000
260: Star Wars: Episode IV - A New Hope (1977)    3.266667
541: Blade Runner (1982)                          3.222222
1265: Groundhog Day (1993)                        3.166667
593: Silence of the Lambs, The (1991)             3.062500
dtype: float64

## % rating >= 4

In [109]:
(df.drop('User', axis=1).apply(lambda x: x.value_counts(), axis=0).fillna(0) /\
df.drop('User', axis=1).count()).loc[[4.0, 5.0]].sum().sort_values(ascending=False)[:5]

318: Shawshank Redemption, The (1994)             0.700000
260: Star Wars: Episode IV - A New Hope (1977)    0.533333
3578: Gladiator (2000)                            0.500000
541: Blade Runner (1982)                          0.444444
593: Silence of the Lambs, The (1991)             0.437500
dtype: float64

## rating count

In [110]:
df.drop('User', axis=1).count().sort_values(ascending=False)[:5]

1: Toy Story (1995)                                        17
593: Silence of the Lambs, The (1991)                      16
260: Star Wars: Episode IV - A New Hope (1977)             15
1210: Star Wars: Episode VI - Return of the Jedi (1983)    14
780: Independence Day (ID4) (1996)                         13
dtype: int64

## top 5 star wars

In [111]:
star_wars_is_rated = df['260: Star Wars: Episode IV - A New Hope (1977)'].map(lambda x: ~pd.isnull(x))

count_rated_with_star_wars = (df.drop(['User', '260: Star Wars: Episode IV - A New Hope (1977)'], axis=1)\
.apply(lambda x: ~pd.isnull(x) & star_wars_rated)).sum()

In [112]:
(count_rated_with_star_wars / df['260: Star Wars: Episode IV - A New Hope (1977)'].count())\
.sort_values(ascending=False)[:5]

1: Toy Story (1995)                                        0.933333
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.866667
593: Silence of the Lambs, The (1991)                      0.800000
780: Independence Day (ID4) (1996)                         0.733333
2916: Total Recall (1990)                                  0.666667
dtype: float64