In [1]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import Imputer

In [2]:
user_movie = pd.DataFrame([\
                             ('Abelardo', 'Life of Pi', 9),
                             ('Abelardo', 'Donnie Darko', 9),
                             ('Abelardo', 'Titanic', 4),
                             ('Abelardo', 'Brasileirinhas', 10),
                             ('Cris', 'Chuck', 10),
                             ('Cris', 'Apocalypse now', 6),
                             ('Cris', 'Bastardos Inglórios', 7),
                             ('Obama', 'Bastardos Inglórios', 8),
                             ('Obama', 'Titanic', 10),
                             ('Obama', 'Brasileirinhas', 6),
                             ('ElTaradão', 'Brasileirinhas', 10),
                             ('ElTaradão', 'Francesinhas', 10),
                             ('ElTaradão', 'Espanholinhas', 10),
                             ('ElTaradão', 'Apocalypse now', 1),
                             ('ElSerião', 'Francesinhas', 0),
                             ('ElSerião', 'Espanholinhas', 0),
                             ('ElSerião', 'Apocalypse now', 10),
                             ('ElSerião', 'Titanic', 8),
                             ('ElSerião', 'Chuck', 2),
                             ('ElSerião', 'DonnieDarko', 8),
                             ('ElSerião', 'Life Of Pi', 9)
                             ], columns=['user', 'movie', 'rating'])

In [3]:
u_matrix = pd.pivot_table(user_movie, values='rating', columns='movie', index='user', aggfunc='mean')

In [4]:
u_matrix

movie,Apocalypse now,Bastardos Inglórios,Brasileirinhas,Chuck,Donnie Darko,DonnieDarko,Espanholinhas,Francesinhas,Life Of Pi,Life of Pi,Titanic
user,,,,,,,,,,,
Abelardo,NaN,NaN,10.0,NaN,9.0,NaN,NaN,NaN,NaN,9.0,4.0
Cris,6.0,7.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ElSerião,10.0,NaN,NaN,2.0,NaN,8.0,0.0,0.0,9.0,NaN,8.0
ElTaradão,1.0,NaN,10.0,NaN,NaN,NaN,10.0,10.0,NaN,NaN,NaN
Obama,NaN,8.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0

In [5]:
# média de rating por filme
imean = Imputer()

um = imean.fit_transform(u_matrix.values)

In [6]:
nn = NearestNeighbors().fit(um)

In [7]:
distance, ineighbors = nn.kneighbors(um[u_matrix.index == 'ElTaradão'], n_neighbors=3)

In [8]:
distance

array([[ 0.        ,  9.10433352,  9.64509086]])

In [9]:
u_matrix.iloc[ineighbors[0]]

movie,Apocalypse now,Bastardos Inglórios,Brasileirinhas,Chuck,Donnie Darko,DonnieDarko,Espanholinhas,Francesinhas,Life Of Pi,Life of Pi,Titanic
user,,,,,,,,,,,
ElTaradão,1.0,NaN,10.0,NaN,NaN,NaN,10.0,10.0,NaN,NaN,NaN
Abelardo,NaN,NaN,10.0,NaN,9.0,NaN,NaN,NaN,NaN,9.0,4.0
Cris,6.0,7.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN